body {
    background-color: #9EBC8A !important;
}


body>.container {
    flex: 1;
}

/* Navbar container */
.navbar {
    background-color: #D2D0A0 !important;



}

/* Navbar brand (logo/text) */
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #537D5D;
    /* Bootstrap primary color */
    transition: color 0.3s ease;
    padding: 0 !important;
}

.navbar-brand:hover {
    color: lightgreen;
}

/* Navbar links */
.nav-link {
    font-size: 1rem;
    color: #495057;
    margin-right: 15px;
    transition: color 0.2s ease-in-out;

}

.nav-link:hover {
    color: #D35D6E;

}

/* Active link */
.nav-link.active {
    font-weight: 600;
    color: #0d6efd;
}

/* Toggler icon (for mobile view) */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.rounded-pill-input {
    border-radius: 50rem !important;
    padding-left: 20px;
}

#footer {
    background-color: #D2D0A0;
}

.oblo-input {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;

}

.input-group-text {
    margin-left: -5px;
    border: 1px solid transparent !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

#changeBGN {
    margin-left: 25px;
}

/* label {
    font-weight: 500;
    font-size: 50px;
} */

#MoneySubmit {
    background-color: #D35D6E !important;
    border-color: #D35D6E !important;
}

.btn-primary {
    background-color: #D35D6E;
    border-color: #D35D6E;
}


.card-body {
    background-color: #D2D0A0;
    color: black;
}